body {
    min-height: 100vh;
    justify-content: space-between;
}
body,
.all-containers {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* stretch is actually the default value*/
}
.doubles.image {
    max-width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-basis: 300px;
    background-color: #789;
}
.doubles.text {
    height: 150px;
    max-width: 300px;
}
p,
h1 {
    margin: 0;
    padding: 0;
}
.first.container{
    justify-content: center;
    gap: 30px;
}

.all-containers {
    flex-grow: 1;
}
.container-for-square-containers {
    gap: 55px;
    display: flex;
}
.square.container,
.second.container {
    flex-direction:column;
}
.square.container {
    max-width: 125px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #aaa;
}

.second,
.third,
.fourth {
    justify-content: center;
}

.doubles,
.container,
.header,
.footer {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header {
    justify-content: space-around;
    align-items: center;
}
.header-logo {
    font-size: 25px;
}
.header-links {
    display: flex;
    gap: 30px;
}
.footer {
    justify-content: center;
}

.header,
.footer {
    max-height: 72px;
    min-height: 72px;
}

.header,
.footer,
.first {
    color: aliceblue;
    background: rgb(31, 37, 54);
}

.square .square {
    min-width: 120px;
    min-height: 120px;
    border: #58f solid;
    border-radius: 10px;
}

.third.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #e4e7ee;
}
.third.container .sub-container {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    align-items: flex-end;
}
.third.container .sub-container .content {
    font-size: 30px;
    font-style: italic;
}
.third.container .sub-container .signature {
    font-weight: bold;
    font-size: 20px;
}

.button {
    background-color: #58f;
    border-radius: 5px;
    min-width: 75px;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: aliceblue;
}

.container{
    padding-top: 80px;
    padding-bottom: 80px;
}

.fourth .button {
    border: solid aliceblue;
}
.doubles .button {
    align-self: flex-start;
}
.doubles.text {
    flex-direction: column;
}