
* {
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    justify-content: space-between;
}
body,
.all-containers {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* stretch is actually the default value*/
}
.doubles.image {
    max-width: 300px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    flex-basis: 300px;
    background-color: #789;
}
.doubles.text {
    max-width: 350px;
}
p,
h1 {
    margin: 0;
    padding: 0;
}

.doubles.text .title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.doubles.text p {
    font-size: 18px;
    color: #e5e7eb;
}
.first.container{
    justify-content: center;
    gap: 30px;
}
.first.container .doubles.text .button {
    margin-top: 10px;
}

.all-containers {
    flex-grow: 1;
}
.container-for-square-containers {
    gap: 55px;
    display: flex;
}
.square.container,
.second.container {
    flex-direction:column;
}
.square.container {
    max-width: 125px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #aaa;
}

.second,
.third,
.fourth {
    justify-content: center;
}

.doubles,
.container,
.header,
.footer {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header {
    justify-content: space-around;
    align-items: center;
}
.header-logo {
    font-size: 24px;
    color: #f9faf8;
}
.header-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 30px;
}
.footer {
    justify-content: center;
}

.header,
.footer {
    max-height: 72px;
    min-height: 72px;
}

.header,
.footer,
.first {
    color: #f9faf8;
    background: #1f2937;
}

.square .square {
    min-width: 120px;
    min-height: 120px;
    border: #3882f6 solid;
    border-radius: 10px;
}

.third.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #e5e7eb;
}
.third.container .sub-container {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    align-items: flex-end;
    gap: 7px;
}
.third.container .sub-container .content {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}
.third.container .sub-container .signature {
    font-weight: 300;
    font-size: 20px;
}

.button {
    border-radius: 5px;
    min-width: 75px;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: aliceblue;
}

.container{
    padding-top: 80px;
    padding-bottom: 80px;
}

.fourth.container .sub-container,
.button {
    background-color: #3882f6;
}
.fourth .button {
    border: solid aliceblue;
}
.doubles .button {
    align-self: flex-start;
}
.doubles.text {
    flex-direction: column;
}