body {
    min-height: 100vh;
    justify-content: space-between;
}
body,
.all-containers {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* stretch is actually the default value*/
}

.all-containers {
    flex-grow: 1;
}
.container-for-square-containers {
    gap: 25px;
    display: flex;
}
.square.container,
.second.container {
    flex-direction:column;
}
.square.container {
    max-width: 110px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #aaa;
}

.second,
.third,
.fourth {
    justify-content: center;
}

.doubles,
.container,
.header,
.footer {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header {
    justify-content: space-around;
    align-items: center;
}
.header-logo {
    font-size: 25px;
}
.header-links {
    display: flex;
    gap: 30px;
}
.footer {
    justify-content: center;
}

.header,
.footer {
    max-height: 50px;
}

.header,
.footer,
.first {
    color: #fee;
    background: #234;
}

.square .square {
    min-width: 100px;
    min-height: 100px;
    border: #58f solid;
    border-radius: 15px;
}

.button {
    background-color: #58f;
    border-radius: 5px;
    min-width: 75px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #58f solid;
}

.fourth .button {
    border: #fee;
}

.doubles.text {
    flex-direction: column;
}